.experience {
  background-color: var(--color-bg-black); /* Temporary background color */
  min-height: 100vh;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience__container {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  max-width: 1000px; /* Optional: Limit container width */
  margin: auto; /* Center horizontally */
}

.experience__sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: end;
}

.experience__company {
  cursor: pointer;
  padding: 1rem;
  border-right: 3px solid transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.experience__company:hover,
.experience__company--active {
  font-weight: bold;
  border-color: white;
  color: var(--color-primary-orange);
}

.experience__separator {
  width: 2px;
  background-color: white;
  margin: 0 1.5rem;
}

.experience__details {
  flex: 2;
}

.experience__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-primary-orange);
}

.experience__dates {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: lightgray;
}

.experience__description {
  list-style: none;
  padding: 0;
}

.experience__description li {
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 1rem; /* Add space for custom bullet */
}
.experience__description li::before {
  content: "-"; /* Custom bullet point */
  position: absolute;
  left: 0;
  color: var(--color-primary-orange); /* Bullet color */
}
