/* Splash.css */
.splash {
  position: absolute; /* This positions the splash screen on top of everything */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999; /* Ensure splash is on top of other components */
}
.splash_label {
  color: var(--color-white);
  font-size: 4rem;
  font-family: var(--font-base);
}

/* .splash {
  height: 100vh;
  width: 100%;
  background: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.splash_label {
  color: var(--color-white);
  font-size: 4rem;
  font-family: var(--font-base);
  font-weight: 700;
} */

@media screen and (max-width: 1150px) {
  .splash_label {
    font-size: 3rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 650px) {
  .splash_label {
    font-size: 2rem;
    font-weight: 700;
  }
}
