.about {
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  min-height: 100vh; /* Full height of viewport */
  background-color: var(--color-bg-black); /* Temporary background color */
  position: relative; /* For watermark positioning */
  overflow: hidden; /* Prevent overflow issues */
  z-index: 1; /* Keep the background layer below the content */
}

.about__body {
  display: flex;
  flex-direction: row; /* Image and text side by side */
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Distribute space evenly */
  width: 100%;
  min-height: 100vh;
  max-width: 1200px; /* Control max width */
  position: relative; /* Ensure stacking context */
  z-index: 2; /* Above watermark but below content */
}

.about__image {
  flex: 1; /* Occupy half the width */
  display: flex; /* Center image */
  align-items: flex-end; /* Align image to the bottom */
  height: 100vh;
  justify-content: flex-end;
  position: relative; /* Ensure z-index is effective */
  z-index: 3; /* Above watermark */
}

.about__image img {
  width: auto;
  height: 80vh; /* Control image height */
  object-fit: contain; /* Proper scaling */
  z-index: 3; /* Above watermark */
}

.about__text {
  flex: 1; /* Text takes up more space */
  padding-left: 40px; /* Add space between image and text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; /* Ensure z-index is effective */
  z-index: 3; /* Above watermark */
}

.about__text h1 {
  color: white;
  font-size: 3rem; /* Increase font size */
  font-weight: bold;
  z-index: 3; /* Above watermark */
  margin: 0 0 10px 0;
}

.about__text p {
  color: white;
  font-size: 1rem; /* Slightly larger text */
  margin-top: 20px;
  line-height: 1.8;
  z-index: 3; /* Above watermark */
  text-align: justify;
}

.about__button {
  margin-top: 20px;
  padding: 15px 50px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--color-primary-orange);
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  z-index: 3; /* Above watermark */
  align-self: flex-start; /* Align button to the left */
}

.about__button:hover {
  color: white;
  background-color: var(--color-bg-gray);
}

.about__watermark {
  min-width: 100vh;
  position: absolute;
  top: 10%;
  font-size: 6rem; /* Large text */
  font-weight: bold;
  color: var(--color-orange-highlight); /* Subtle watermark effect */
  z-index: 1; /* Below content but above the background */
  user-select: none; /* Make non-selectable */
}
