/* Home.css */
.home {
  display: flex;
  flex-direction: column; /* Stacks the sections vertically */
  height: 100vh; /* Takes the full height of the viewport */
  width: 100%; /* Ensures it takes the full width */
  justify-content: flex-start; /* Align items at the top */
  align-items: stretch; /* Ensure sections stretch across the full width */
  background-color: var(--color-lightGray); /* Set background color */
  scroll-behavior: smooth;
}
