@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  --color-gray: #141517;
  --color-lightGray: #141517c4;
  --color-bg-gray: #292929;
  --color-bg-black: #1b1b1b;
  --color-primary-orange: #ffa31a;
  --color-gray-highlight: #808080;
  --color-white: #ffffff;
  --color-orange: #fe8008;
  --color-orange-highlight: rgb(254, 128, 8, 0.2);
}
* {
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For IE/Edge */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
